*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 outline: none;
}
html{
  font-size: 62.5%;
}

.hamburger-menu{
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu{
  right: 33rem;
}
.line{
  width: 100%;
  height: 0.2rem;
  background-color: white;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}
.hamburger-menu span{
  position: absolute;
  left: 5rem;
  width: 7em;
  height: 3rem;
  background-color: #000d26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Baloo Da 2',serif;
  border-radius: 100px;
  font-size: 1.3rem;
  letter-spacing: .7rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.header{
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper{
  width: 100%;
  height: 100%;
  background-color:rgb(0, 0,0.8);
  overflow: hidden;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:0.4;
  animation-name: scale;
  animation-duration: 10s;
}

.banner{
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1{
  font-family: 'Baloo Da 2',cursive;
  font-size: 8rem;
  font-weight: 300;
  color:#fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: .2rem;
  text-shadow:0 0.3rem .5rem rgb(0, 0,0.4);
  opacity: 0;
  animation-name: moveBanner;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.banner div{
  font-family: 'Josefin Slab',serif;
  font-size: 4rem;
  color: #fff;
  width: 80%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.3rem rgb(0, 0,0,0.4);
  opacity: 0;
  animation-name: moveBanner;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-fill-mode: forwards;
}

.banner div span{
  color: #8ea9dd;
  
  font-weight: 900;
}
.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #000d26b7;
  font-family: 'Mulish',sans-serif;
  border: 1px solid #000d26;
  outline: none;
  position: relative;
  opacity: 0;
  animation-name: moveBanner;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #000d26;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}



.sidebar{
  width: 40rem;
  height:100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right .3s;   
}
 
.change .sidebar{
  right: 0;
}
.menu{
   position: absolute;
   top: 40%;
   left:50%;
   transform: translate(-50%,-50%);
 }

.menu-link{
  font-family: 'Baloo Da 2',serif;
  font-size:4rem;
  color: #000;
  position: relative;
}

.menu-link::before{
  content: attr(data-content);
  position: absolute;
  top:0;
  left: 0;
  color: rgba(46, 138, 199, 0.767);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s ease-in-out;
} 

.menu-link:hover::before{
  width: 100%;

}
.social-media{
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-media i{
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color:rgb(80, 80, 80);;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-media i:hover{
  background-color: #000d26;
  animation: social-jump 0.7s;
}

@keyframes scale{
  0%{
    transform: scale(1.2);
  }
  85%{
    transform: scale(0.95);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes social-jump{
  16%{
      transform: translateY(-6px);
  }
  32%{
      transform: translateY(0px);
  }
  48%{
      transform: translateY(-4px);
  }
  64%{
      transform: translateY(0px);
  }
  80%{
      transform: translateY(-2px);
  }
  96%{
      transform: translateY(0px);
  }
}

@keyframes moveBanner{
  0%{
      transform: translateY(40rem)
      rotate(-20deg) skew(10deg,10deg);
  
  }
  100%{
    transform: translateY(0)
    rotate(0) skew(0,0);
    opacity: 1;
  }
 }
